:root {
  --bg-white: #ECF0F3;
  --color-primary: #ff014f;
  --color-secondary: #f4f5f6;
  --color-tertiary: #0d1013;
  --color-dark: #1a1d23;
  --color-darker: #1e1f21;
  --color-gray: #f6f6f6;
  --color-subtitle: #f9004d;
  --color-border-white: #dadada;
  --color-primary-gradient-from: #6a67ce;
  --color-primary-gradient-to: #fc636b;
  --background-color-1: linear-gradient(145deg, #1e2024, #23272b);
  --background-color-2: #212428;
  --shadow-1: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
  --shadow-2: inset 21px 21px 19px #181a1d, inset -21px -21px 19px #202225;
  --inner-shadow: 1px 4px 2px -3px rgba(0, 0, 0, 0.7) inset,
    -1px -3px 3px -2px rgba(255, 255, 255, 0.2) inset;
  --inner-shadow-white: 1px 4px 2px -3px #d1d9e6 inset,
    -1px -3px 3px -2px #ffffff inset;
  --shadow-white-3: 5px 5px 15px #d1d9e6, -5px -5px 15px #ffffff;
  --gradient-box-w: linear-gradient(145deg, #e2e8ec, #ffffff);
  --gradient-red-hover: linear-gradient(
    145deg,
    var(--color-primary-gradient-from),
    var(--color-primary-gradient-to)
  );
  --hover-bg: var(--background-color-1);
  --header-bg: #1e2024ee;
  --header-manipulate: var(--header-bg);
  --color-heading: #c4cfde;
  --color-heading-wv: #1e2125;
  --color-body: #878e99;
  --color-body-white: #3c3e41;
  --color-lightn: #c4cfde;
  --color-midgray: #878787;
  --color-light: #e4e6ea;
  --color-lighter: #ced0d4;
  --color-school-container: #f0f2f5;
  --color-border: hsla(0, 0%, 100%, 0.2);
  --color-white: #ffffff;
  --color-white-75: rgba(255, 255, 255, 0.75);
  --color-success: #3eb75e;
  --color-danger: #ff0003;
  --color-warning: #ff8f3c;
  --color-info: #1ba2db;
  --color-border-white: #dce1e4;
  --color-facebook: #3b5997;
  --color-twitter: #1ba1f2;
  --color-youtube: #ed4141;
  --color-linkedin: #0077b5;
  --color-pinterest: #e60022;
  --color-instagram: #c231a1;
  --color-vimeo: #00adef;
  --color-twitch: #6441a3;
  --color-discord: #7289da;
  --color-separator: #878e9982;
  --border-width: 2px;
  --p-light: 300;
  --p-regular: 400;
  --p-medium: 500;
  --transit: all 300ms ease;
  --shadow-manipulate: var(--shadow-1);
  --color-darker-m1: var(--color-darker);
  --bg-manipulate-1: var(--background-color-1)
}
@font-face {
  font-family: "Montserrat";
  src: url("assets/Montserrat/Montserrat-VariableFont_wght.ttf")
    format("truetype");
}
body {
  margin: 0;
  user-select: none;
  background: var(--hover-bg);
  font-family: "Montserrat";
}
a {
  text-decoration: none;
}

/* Body tag style */
#ibrahim-img{
  transform: scaleX(-1);
}
#go-up{
  visibility: hidden;
}
#on-page-options{
  position: fixed;
  z-index: 2;
  display: grid;
  gap: 3em;
  color: var(--color-subtitle);
  bottom: 20px;
  left: 40px
}
#on-page-options i{
  box-shadow: var(--shadow-manipulate);
  background: var(--bg-manipulate-1);
  padding: 15px;
  border-radius: 100%;
  text-align: center
}
.hire-me{
font-weight: 700;
}
.hire-me, 
#theme-icon {
  color: var(--color-subtitle);
  background: var(--color-darker-m1);
  padding: 12px;
  border-radius: 5px;
}
#theme-icon{
  font-size: 1.2em;
}
/* End body */

header {
  padding-inline: 30px;
  padding-block: 20px;
  color: var(--color-heading);
  background: var(--header-manipulate);
  box-shadow: var(--shadow-1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: position 300ms ease-in-out;
  z-index: 2;
}
hr {
  shape-rendering: crispEdges;
}
/* My image */
#dev-image-container {
  position: relative;
}
#image-pad::before {
  content: "";
  position: absolute;
  inset: 20% 0 0 0;
  border-radius: 5px;
  box-shadow: var(--shadow-manipulate);
  z-index: -1;
}
/* End my image */
/* common class */

.color-heading {
  color: var(--color-heading);
}
.color-body {
  color: var(--color-body);
}
.color-gray {
  color: var(--color-gray);
}
.color-secondary {
  color: var(--color-secondary);
}
.color-subtitle {
  color: var(--color-subtitle);
}
.p-heading-xl {
  font-size: 1.6em;
}
.p-medium {
  font-weight: var(--p-medium);
}
/* end common */

/* Section style */
.hidden {
  opacity: 0;
  transition-duration: 1s;
}
.show {
  opacity: 1;
  transition-duration: 1s;
}
section {
  margin-inline: 40px;
  padding-block: 90px;
  border-bottom: var(--border-width) solid var(--color-darker);
}
section:last-child {
  padding: 0;
  margin: 0;
}
#home {
      margin-bottom: 1.5em;
}

/* End section */

/* Features section style */
.what-i-do-parent-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.what-i-do-container {
  cursor: pointer;
  border-radius: 10px;
  padding-inline: 40px;
  padding-block: 50px;
  width: clamp(170px, 90%, 170px);
  flex-grow: 1;
  box-shadow: var(--shadow-manipulate);
  position: relative;
}
.what-i-do-container i {
  color: var(--color-subtitle);
  font-size: 2.5em;
}
.what-i-do-container .fa-arrow-right {
  font-size: 1.2em;
  display: none;
  position: absolute;
  bottom: 30px;
  transition: var(--transit);
}

.what-i-do-container:hover .fa-arrow-right {
  display: block;
}
.what-i-do-container:hover {
  background: var(--hover-bg);
  transform: scaleX(1.03);
  transition-duration: 300ms;
}
.what-i-do-heading {
  font-weight: bold;
  font-size: 1.2em;
  color: var(--color-heading);
}
.what-i-do-body {
  color: var(--color-heading);
}

#p-feature {
  color: var(--color-subtitle);
  font-weight: var(--p-medium);
}
#h-what-i-do {
  margin-top: 0;
  font-size: 2.5em;
  color: var(--color-heading);
}

/* End features section style */

/* Portolio Section style */
.portfolio-card:hover img,
.person-img:hover {
  transform: scaleX(1.03);
  transition-duration: 300ms;
}
.portfolio-card:hover .portfolio-title {
  color: var(--color-subtitle);
}
.portfolio-card:hover {
  margin-block-start: 1px;
  background: var(--hover-bg);
  transition-duration: 100ms;
}
.portfolio-projects {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.visit-portfolio,
.resume-experience {
  color: var(--color-subtitle);
  text-align: center;
}
.h1-portfolio,
.h1-resume {
  text-align: center;
  color: var(--color-heading);
  font-size: 3em;
  margin-top: 0;
}
.portfolio-card img {
  width: 100%;
  transition-duration: 300ms;
  object-fit: contain;
  border-radius: 10px;
}
.portfolio-card figure {
  margin: 5px;
}
.portfolio-card figure figcaption {
  color: var(--color-subtitle);
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  font-weight: var(--p-medium);
}
.portfolio-card {
  flex-grow: 1;
  width: clamp(2000px, 90%, 200px);
  box-shadow: var(--shadow-manipulate);
  padding: 25px;

  border-radius: 10px;
}
.portfolio-title {
  color: var(--color-heading);
  font-weight: var(--p-medium);
  font-size: 1.2em;
}
/* End portfolio section style */

/* Resume section style */
.rtabs {
  animation: fade linear 300ms;
}
.resume-tabs-div {
  display: flex;
  justify-content: space-evenly;
  box-shadow: var(--shadow-manipulate);
  border-radius: 10px;
  margin-bottom: 40px;
}
.resume-tab,
.price-tab {
  flex-grow: 1;
  text-align: center;
  padding: 30px;
  color: var(--color-heading);
  border-radius: 10px;
  font-weight: bold;
}
.p-heading {
  color: var(--color-subtitle);
  font-weight: var(--p-medium);
}
.h1-heading {
  color: var(--color-heading);
  font-size: 2em;
  margin-top: 0;
}
.education-div {
  display: flex;
  flex-direction: column;
  gap: 40px;
  border-left: 5px solid var(--color-darker-m1);
}
.right-div {
  padding-block: 40px;
  padding-inline: 40px;
  border-radius: 5px;
  box-shadow: var(--shadow-manipulate);
}
.school {
  border-bottom: 1px solid var(--color-dark);
  padding-block-end: 30px;
}
.school-inner {
  margin-bottom: 30px;
}
.school-inner p {
  font-size: 1.3em;
  margin-bottom: 10px;
  color: var(--color-heading);
  font-weight: bold;
  transition-duration: 300ms;
}
.school-inner small {
  color: var(--color-body);
  font-weight: var(--p-medium);
  font-size: 0.9em;
}
.point {
  padding: 8px;
  border-radius: 5px;
  color: var(--color-subtitle);
  box-shadow: var(--shadow-manipulate);
  font-weight: var(--p-medium);
}
.school-p-footer {
  color: var(--color-body);
}
.school-container {
  display: flex;
}
.right-div:hover .school-inner p,
.right-div:hover .school-inner small {
  color: var(--color-gray);
  transition-duration: 300ms;
}
.right-div:hover .school-p-footer {
  color: var(--color-heading);
  transition-duration: 300ms;
}
.right-div:hover {
  background: linear-gradient(190deg, #1e2024, #23272b);
  transition-duration: 300ms;
}
.school-container:hover .circle {
  background-color: var(--color-subtitle);
  transition-duration: 300ms;
}

.circle-border-div {
  display: flex;
  align-items: center;
  margin-left: -12px;
  margin-top: 40px;
}
.circle {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  border: 5px solid var(--color-darker-m1);
  background: var(--color-darker-m1);
  transition-duration: 300ms;
}
.border-hr {
  width: 30px;
  height: 5px;
  background: var(--color-darker-m1);
  z-index: 1;
}

.resume-tab:hover,
.price-tab:hover,
.tab-active {
  color: var(--color-subtitle);
  box-shadow: var(--shadow-manipulate);
  transition-duration: 300ms;
}

/* Skill Progress */

.skill-div .progress-bar {
  width: 100%;
  height: 8px;
  border-radius: 5px;
  font-size: 1.2em;
  box-shadow: var(--shadow-manipulate);
  margin-bottom: 20px;
  margin-top: 7px;
  transition-duration: 300ms;
}
.skill-div {
  display: flex;
  flex-direction: column;
  position: relative;
}
.skill-div span {
  color: var(--color-heading);
}

.progress-percentage {
  position: absolute;
}
/* End skill progress */
/* End resume style */


/* Testimonial style */
.person-div,
.testimonial-div {
  display: flex;
  gap: 30px;
}
.testimonials-container {
  position: relative;
}
.person-div,
.workdone-div,
.star-div {
  border-radius: 5px;
  padding: 30px;
  box-shadow: var(--shadow-manipulate);
}
.star-filled {
  color: var(--color-warning);
}
.star-unfilled {
  color: var(--color-heading);
}
.star-div {
  font-size: 10px;
  padding: 15px;
}
.work-div-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color-dark);
  padding-block-end: 30px;
}
.testimonial-div {
  display: none;
}
.testimonial-div img {
  border-radius: 5px;
}
.person-role {
  font-weight: var(--p-medium);
}
.person-name {
  font-size: 1.3em;
  margin-bottom: 6px;
  font-weight: bolder;
}
.work-done {
  margin-bottom: 6px;
  font-weight: 600;
  font-size: 1.1em;
}
.comment {
  line-height: 1.5em;
}
.oval-div {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  gap: 15px;
}
.oval {
  border: 2px solid var(--color-dark);
  width: 12px;
  height: 12px;
  box-shadow: var(--inner-shadow);
  cursor: pointer;
}
.slide-dot-color {
  background: var(--color-primary);
}

.display-testimonial-div {
  display: flex;
  animation: fade linear 300ms;
}

@keyframes fade {
  20% {
    opacity: 0;
    transition-duration: 200ms;
  }
}

/* End testimonial */

/* Pricing style */
#pricing {
  display: flex;
}
#pricing .resume-tabs-div {
  flex-direction: row;
}
#pricing .resume-div {
  box-shadow: var(--shadow-manipulate);
}
.ptabs {
  padding-block-end: 20px;
  padding-inline: 30px;
  animation: fade linear 500ms;
}
.pricing-heading-div {
  flex-grow: 1;
}
.price-div {
  box-shadow: var(--shadow-manipulate);
  padding: 15px;
  border-radius: 5px;
}
.price {
  font-weight: bolder;
  margin: 0;
}
.ptab-flex {
  margin-block: 30px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.order-now {
  box-shadow: var(--shadow-manipulate);
  text-align: center;
  padding: 25px;
  border-radius: 5px;
  margin-top: 3em;
}
.ptab-footer {
  text-align: center;
  margin-block: 1.7em;
  font-size: 0.7em;
  font-weight: bold;
}
.order-now:hover {
  cursor: pointer;
  background: linear-gradient(179deg, #1e2024, #23272b);
  margin-top: 3.1em;
  transition-duration: 500ms;
}
.price-services div {
  display: flex;
  gap: 10px;
}
.price-services {
  display: grid;
  gap: 25px;
  margin-top: 40px;
  font-size: 0.9em;
}
#recommend-div{
  display: inline;
  color: var(--color-white);
  padding: 9px;
  background: var(--color-body);
  margin-left: 40%;
  border-radius: 6px;
}
/* End pricing style */

/* Blog style */
#blog .portfolio-projects img{
  background-color: var(--color-border-white);
}
/* End Blog style */

/* Contact style */
#contact-us-upper-div,
#contact-us-lower-div {
  box-shadow: var(--shadow-manipulate);
  padding: 20px;
  padding-block: 35px;
}
#contact-us-img {
  border-radius: 10px;
}
#my-name {
  font-weight: bolder;
  margin-bottom: 8px;
}
#contact-form {
  display: grid;
  gap: 15px;
}
#contact-form div label {
  color: var(--color-body);
}
#contact-form div input:focus-visible,
#contact-form div textarea:focus-visible {
  outline: 2px solid var(--color-subtitle);
  transition-duration: 800ms;
}

#contact-form div input,
#contact-form div textarea {
  background: var(--color-dark);
  padding: 20px;
  color: var(--color-heading);
  border-radius: 5px;
  border: none;
  border-top: 2px var(--color-tertiary) solid;
  border-bottom: 3px var(--color-darker) solid;

  resize: none;
}
#contact-form div {
  display: grid;
  gap: 10px;
}
#contact-form button[type="button"] {
  box-shadow: var(--shadow-manipulate);
  padding: 18px;
  background: var(--bg-manipulate-1);
  color: var(--color-heading);
  border: none;
  font-weight: var(--p-medium);
  letter-spacing: 2px;
  margin-top: 20px;
}
#contact-us-upper-div .skills-and-social {
  display: block;
}
#loading-div {
  display: grid;
  grid-auto-flow: column;
  gap: 5px;
  justify-self: center;
  margin-top: 15px;
}
.hide {
  visibility: hidden;
}
.loading {
  width: 8px;
  height: 8px;
  clip-path: circle();
  background-color: var(--color-subtitle);
  animation: rotate 1s linear infinite;
}
#contact-us-upper-div .a-underlined:hover{
color: var(--color-subtitle);
text-decoration: underline var(--color-subtitle) 1px;
text-underline-offset: 7px;
transition: var(--transit);
}
@keyframes rotate {
  90% {
    opacity: 0;
    transform: translateY(-100%) translateX(-100%) perspective(20%);
  }
}

/* End contact style */

/* Footer style */
footer {
  padding-block-start: 90px;
  margin-inline: 40px;
  padding-block-end: 0;
}

.footer-flex {
  display: flex;
  align-items: flex-start;
  gap: 4em;
  flex-wrap: wrap;
  padding-block-end: 90px;
  border-bottom: var(--border-width) solid var(--color-darker);
}
.footer-item-flex a {
  transition-duration: 600ms;
  color: var(--color-heading);
  font-weight: var(--p-medium);
  position: relative;
}
.footer-item-flex {
  display: grid;
  gap: 15px;
}
footer .social-links {
  margin-top: 1.5em;
  align-items: center;
}
#copyright {
  text-align: center;
  color: var(--color-body);
  font-weight: var(--p-medium);
  font-size: 1em;
  margin-block: 2em;
}
.footer-item-flex:not(:first-of-type) a:hover{
  color: var(--color-subtitle);
}

.footer-item-flex:first-of-type a:hover{
  margin-bottom: 5px;
}

.footer-item-flex:not(:first-of-type) a:hover:before{
  content: '';
  position: absolute;
  top: 0;
  height: 23px;
  width: 0;
  border-bottom: solid var(--color-subtitle) 1px;
  animation: w 700ms linear;
}
@keyframes w {
  90%{
    width: 55px;
  }
}
/* .footer-item-flex a:hover{
} */
/* End Footer */

.header-image-div {
  display: flex;
  align-items: center;
  gap: 9px;
  font-weight: bolder;
}

.header-image-div img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  outline: 2px var(--color-border) solid;
  outline-offset: 5px;
}

.menu-nav a,
.menu-nav-outer a {
  text-decoration: none;
  color: var(--color-white-75);
  padding-inline: 10px;
  transition-duration: 300ms;
}
.menu-nav-outer a {
  color: var(--color-heading);
}
.menu-nav a:hover,
.menu-nav-outer a:hover {
  text-shadow: 0 0 var(--color-body);
  color: var(--color-subtitle);
  transition: var(--transit);
}

.menu-nav {
  display: none;
}

.modal-nav::before {
  content: "";
  background: var(--background-color-2);
  position: fixed;
  inset: 0 0 0 clamp(280px, 80%, 320px);
  z-index: -1;
  opacity: 0.6;
}
.modal-nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  inset: 0 0 0 0;
  color: var(--color-body);
  width: clamp(280px, 80%, 300px);
  background: var(--bg-manipulate-1);
  box-shadow: var(--shadow-manipulate);
  padding: 25px;
  overflow-y: scroll;
  z-index: 2;
}
.nav-outer-img-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-outer-img-div img {
  border-radius: 50%;
  width: 70px;
  height: 70px;
}
.links-div {
  border-top: var(--color-border) 1px solid;
  border-bottom: var(--color-border) 1px solid;
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding-block: 25px;
}

.social-links {
  font-size: 2em;
  display: flex;
  gap: 1em;
}


.hire-me-nav {
  transition-duration: 300ms;
}


.hire-me-nav:hover,
.nav-menu-bar:hover,
#close-modal:hover {
  margin-bottom: 10px;
  transition: var(--transit);
}
.skills-and-social .social-links i {
  background-color: transparent;
}
.skills-and-social .social-links a:hover {
  box-shadow: var(--shadow-manipulate);
  background: var(--hover-bg);
  transition: var(--transit);
}
#home {
  display: flex;
  flex-direction: column-reverse;
}
.intro {
  padding-inline-end: 40px;
}
#intro-description,
.skills-and-social {
  color: var(--color-heading);
}
.skills-set {
  display: flex;
  gap: 1.3em;
}
.skills-set img {
  width: 30px;
  height: 30px;
}
.skills-and-social .social-links a {
  font-size: 0.7em;
}
.skills-set img,
.skills-and-social .social-links a {
  padding: 15px;
  box-shadow: var(--shadow-manipulate);

  border-radius: 5px;
  color: var(--color-gray);
}
.skills-and-social {
  display: flex;
  font-weight: var(--p-light);
  justify-content: space-between;
}
#welcome {
  color: var(--color-heading);
  /* font-weight: 900; */
}
.intro #hi-me,
.typesetting-div ul,
#a-letter {
  color: var(--color-gray);
  font-weight: bold;
  margin: 0;
}

/* Typewriting */
.typesetting-div {
  display: flex;
  gap: 25px;
  position: relative;
  height: 56px;
  overflow: hidden;
}

.typesetting-div ul li::before {
  background: #23272b;
  content: "";
  width: 90%;
  height: 100%;
  position: absolute;
  animation: typing ease 3.7s infinite;
}
.typesetting-div ul {
  padding: 0;
  list-style: none;
  animation: move steps(4) 14.8s infinite;
}

@keyframes typing {
  100% {
    background: none;
  }
  90% {
    margin-left: 515px;
  }
}

#name-span {
  color: var(--color-subtitle);
}
.nav-menu-bar,
#close-modal {
  /* box-shadow: var(--shadow-manipulate); */
  /* background: var(--color-dark); */
  padding: 15px;
  border-radius: 100%;
  font-weight: 700;
  transition-duration: 300ms;
  color: var(--color-subtitle);
  font-size: 1.1em;
}

/* Focused nav link */

.modal-nav .nav-focused,
.menu-nav .nav-focused .modal-nav .intersecting,
.menu-nav .intersecting {
  color: var(--color-secondary);
  transition: 300ms;
}
/* End focus */

@media screen and (320px <= width < 1024px) {
  /* Resume section style */
  .ptab-flex {
    gap: 30px;
  }
  .ptab-flex,
  .resume-tabs-div {
    flex-direction: column;
  }
  .right-div {
    width: clamp(300px, 90%, 400px);
  }
  /* end resume */
  /* Testimonial style */
  .testimonial-div img {
    width: 100px;
  }
  .quote {
    visibility: hidden;
  }
  .testimonial-div {
    flex-direction: column;
    padding-inline: 20px;
  }
  /* end testimonial */
  /* Pricing style */
  #pricing {
    flex-direction: column;
  }
  .price-tag-desc {
    width: 80%;
  }
  /* end pricing*/
  /* Contact us */
  #contact-us-img {
    width: 100%;
    height: 350px;
  }
  /* End contact */

  /*  Blog */
  #blog .portfolio-projects{
    display: flex;
    flex-direction: row;
  }
  #blog .portfolio-card{
    width: 250px;
    flex-grow: 0;
  }
  #blog .portfolio-projects img{
    width: 250px;
  }
  /* End blog */
  .skills-and-social {
    flex-direction: column;
    gap: 30px;
  }
  #dev-image-container img {
    width: clamp(200px, 100%, 900px);
  }
  header {
    font-size: 0.8em;
  }
  .header-image-div img,
  .modal-nav img,
  .footer-item-flex .header-image-div img {
    width: 60px;
    height: 60px;
    outline: 1px var(--color-border) solid;
    outline-offset: 3px;
  }
  .header-image-div img {
    width: 40px;
    height: 40px;
  }
  section {
    margin-inline: 10px;
  }
  header,
  .modal-nav {
    padding-inline: 10px;
  }

  .typesetting-div {
    height: 30px;
    gap: 10px;
  }
  .intro #hi-me,
  .typesetting-div ul,
  #a-letter {
    font-size: 1.6em;
  }
  .intro #hi-me {
    font-size: 2em;
  }
  @keyframes move {
    100% {
      margin-top: -125px;
    }
  }
}

@media screen and (320px <= width <= 500px) {
  /* Resume style */
  .skill-progress {
    padding-inline-end: 15px;
  }
  /* End Resume */
  /* Testimonial style */
  .work-div-flex,
  .person-div {
    flex-direction: column;
  }
  .person-div {
    gap: 4px;
  }
  .work-div-flex {
    align-items: baseline;
    gap: 30px;
  }
  .testimonial-div img {
    width: clamp(200px, 100%, 380px);
  }
  /* End Testimonial */

  /* Pricing style */
  #pricing .price-tab {
    padding-inline: 15px;
  }
  .ptabs {
    padding-inline: 15px;
  }
  /* End Pricing  */
  /* Contact style */
  #contact-us-img {
    height: 200px;
  }
  #contact-us-upper-div,
  #contact-us-lower-div {
    padding: 5px;
    padding-block: 35px;
  }
  /* End Contact */
}
@media screen and (min-width: 1024px) {
  .light-border-line:first-of-type{
    
  }
  /* Features */
  .what-i-do-container {
    width: clamp(250px, 90%, 300px);
  }
  /* End features */
  /* Portfolio */
  .portfolio-title {
    font-size: 1.5em;
  }
  .portfolio-card img {
    width: 100%;
  }
  .portfolio-card {
    width: 300px;
  }
  /* End portfolio */
  /* Resume */
  .resume-tab {
    padding: 35px;
  }
  .right-div {
    width: clamp(500px, 90%, 600px);
  }
  .school {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  /* End resume */

  /* Testimonial style */
  .testimonial-div img {
    width: 300px;
  }
  .testimonial-div {
    padding-inline: 70px;
  }
  .person-info-div {
    display: flex;
    flex-direction: column;
  }
  .quote {
    display: block;
    font-size: 8em;
    color: var(--color-dark);
    flex-grow: 1;
  }
  .person-div {
    flex-direction: column;
    gap: 0;
  }
  .via {
    font-size: 1em;
  }
  .work-done {
    font-size: 1.3em;
    margin-bottom: 10px;
  }
  .comment {
    font-size: 1.1em;
  }
  /* end testimonial */

  /* Pricing style */
  #pricing {
    position: relative;
  }
  .p-price,
  .h1-price {
    text-align: left;
  }
  #pricing .pricing-heading-div div {
    position: sticky;
    top: 120px;
  }
  #pricing .pricing-heading-div {
    position: sticky;
    top: 100px;
  }
  .price-tag-desc {
    width: 70%;
  }
  /* end pricing*/

 /*  Blog */
 #blog .portfolio-projects{
  display: flex;
  flex-direction: row;
}
#blog .portfolio-card{
  width: 250px;
  flex-grow: 0;
}
#blog .portfolio-projects img{
  width: clamp(250px, 100%, 350px);
}

  /* Contact us */
  #contact-us-img {
    width: 300px;
  }
  .contact-flex-div {
    display: flex;
    flex-direction: row;
    gap: 25px;
  }
  #contact-us-lower-div {
    flex-grow: 1;
  }
  #contact-form div input,
  #contact-form div textarea {
    background: var(--color-dark);
    padding: 15px;
  }
  #my-status {
    width: 300px;
  }
  #input-flex div {
    display: flex;
    flex-direction: column;
  }
  #input-flex {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
  }
  /* End contact */
  /* Footer style */
  .footer-item-flex {
    flex-grow: 1;
  }
  /* End footer */
  .intro {
    display: flex;
    flex-direction: column;
    padding-inline-end: 60px;
  }
  .skills-and-social {
    flex-grow: 1;
    align-items: flex-end;
  }
  .intro #hi-me,
  .typesetting-div ul,
  #a-letter,
  #h-what-i-do,
  .h1-portfolio,
  .h1-resume {
    font-size: 3em;
  }
  .typesetting-div ul li::before {
    background: linear-gradient(45deg, #1f2024 1%, var(--background-color-2));
  }
  #home {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  header,
  .links-div {
    font-size: 0.8em;
  }
  #menu-icon,
  .menu-nav-outer {
    display: none;
  }
  .menu-nav {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
  }
  .header-image-div {
    flex-grow: 0.2;
  }
  #home {
    justify-content: space-between;
  }
  #dev-image-container img {
    width: 550px;
  }

  @keyframes move {
    100% {
      margin-top: -235px;
    }
  }
}

/* Light mode */
.light-mode{
  background: var(--bg-white);
}
.toggle-shadow{
  box-shadow: var(--shadow-white-3);
  background: var(--bg-white);
}
.light-border-line{
  border-bottom: 1px solid var(--color-light);
  border-top: 1px solid var(--color-light);
}
